<h1>聊天室</h1>
<div class="messages">
    <%# <%= render @message %>
    <%# <%= render 'message', message: @messages %> 
    <%= render @messages %>
</div>

<form action="">
    <input type="text" data-behavior="room_speaker" placeholder="說點什麼">

</form>
